<header class="header">
    <div class="user">
      <div class="user__container container">
      <ul class="user__contacts">
        <li class="user__contact user__contact_bold">
          <a class="user__link" href="tel:88002007341">
            <span class="icon icon_phone"></span>
            <span>8 800 200 73 41</span>
          </a>
        </li>
        <li class="user__contact"><a href="#">Обратный звонок</a></li>
        <li class="user__contact">
          <span class="user__socials">Следите за нами</span>
          <a href="https://instagram.com/"><div class="icon icon_instagram"></div></a>
          <a href="https://vk.com/"><div class="icon icon_vk"></div></a>
        </li>
      </ul>
      <ul class="user__links">
        <li>
          <a class="user__link" href="#">
            <span class="icon icon_favorite"></span>
            <span>Избранное</span>
          </a>
        </li>
        <li>
          <a class="user__link" href="#">
            <span class="icon icon_cart"></span>
            <span>Корзина</span>
          </a>
        </li>
        <li>
          <a class="user__link" href="#">
            <span class="icon icon_account"></span>
            <span>Войти</span>
          </a>
        </li>
      </ul>
    </div>
    </div>
    <div class="navigation">
      <div class="navigation__container container">
        <a href="/" class="navigation__logo">
          <img src="/static/images/logo.png" alt="logo" width="172" height="66">
          <span class="navigation__logo-text">В горы по России с комфортом</span>
        </a>
        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item navigation__item_child">
              <a href="#">Туры в</a>
              <ul class="navigation__sublist">
                <li class="navigation__subitem">
                  <a href="#">Республика Алтай</a>
                </li>
                <li class="navigation__subitem">
                  <a href="#">Адыгея</a>
                </li>
                <li class="navigation__subitem">
                  <a href="#">Дагестан</a>
                </li>
              </ul>
            </li>
            <li class="navigation__item"><a href="#">Товары</a></li>
            <li class="navigation__item"><a href="#">Подбор тура</a></li>
            <li class="navigation__item"><a href="#">Для туристов</a></li>
            <li class="navigation__item"><a href="#">Горячие предложения</a></li>
            <li class="navigation__item"><a href="#">О компании</a></li>
            <li class="navigation__item"><a href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
</header>
