@font-face {
  font-family: "Inter";
  src: url("./inter/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./inter/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("./akrobat/Akrobat-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("./akrobat/Akrobat-Bold.otf");
  font-weight: 700;
  font-style: normal;
}